* {
   margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-size: 0.9em;
  line-height: 1.5em;
}

#hero-about-us {
  padding-top: 50px;
}

.hero-about-us-container h1 {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 5px;
  padding-top: 15px;
}

.hero-about-us-container p {
  float: left;
  padding: 5px 15px;
}

.accordion-header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 80%;
  height: auto;
  border-radius: 50%;
  padding-top: 20px;
  padding-bottom: 5px;
}

.accordion-header button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: 1rem;
  padding-bottom: 20px;
}

.accordion-header button:hover {
  opacity: 0.5;
}

@media screen and (min-width: 480px) {
  nav ul li a:hover {
    color: white;
  }
}

@media screen and (min-width: 768px) {
  .header-line {
    margin: 0;
    padding: 0;
  }

  .accordion-body {
    width:90%;
    margin: 0 auto;
    text-align: center;
  }

  .hero-about-us-container {
    margin-top: 25px;
  }

  /* .accordion{
  position: initial;
  height: 100%;
  width: 100%;
} */

  /* Nytt */
  .accordion {
    height: 80vh;
  }

  .test {
    height: 50%;
    display: flex;
    position: absolute;
    bottom: 0;
  }

  .test1{
    position: initial;
    height: 100%;
    width: 100%;
    max-width: 200px;
    padding: 0;
    font-size: 13px;
  }
  .person1, .person2, .person3, .person4{
    margin: 0 10px;
    font-size: 1px;
  }

  .accordion-button{
    padding: 0 !important;
  }

  .accordion-header img{
    width: 100%;
    padding: 0;
  }
  /* Nytt */

  .hero-about-us-container p {
    margin: 0 30px;
  }
}

@media screen and (min-width: 1024px) {

  .accordion-item{
    margin-bottom: 15px;
  }

  .hero-about-us-container p {
    margin: 0 100px;
  }
}

@media screen and (min-width: 1200px) {
  .accordion-item{
    margin-bottom: 5px;
  }

  .hero-about-us-container p {
    margin: 0 200px;
  }

  .accordion-header img{
    width: 50%;
    padding: 0;
  }
}

@media screen and (min-width: 1920px){
  .accordion-item{
    margin-bottom: 50px;
  }

  .accordion-body {
    width:max-content;
  }

  .accordion-header img{
    width: 50%;
    padding: 0;
  }
}
