* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  p {
    font-size: 0.9em;
    line-height: 1.5em;
  }

  .hero-about-us-container h1{
      text-align: center;
      font-size: 2rem;
      padding-bottom: 5px;
      padding-top: 15px;
  }

  .hero-about-us-container p{
    float:left;
    padding: 10px 15px;
  }

  .about-us-container {
    text-align: center;
    padding: 120px;
  }

  .about-us-persons img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 80%;
    height: auto;
    border-radius:50%;
    padding-top: 20px;
    padding-bottom: 5px;
  }

  .about-us-persons h1{
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size: 1rem;
    padding-bottom: 20px;
  }

  .about-us-persons h1:hover{
    opacity: 0.5;
  }