p{
    margin: 0;
    padding: 0;
}

.contact-container{
        width: 100%;
        height: 100%;
        text-align: center;
    }

.about-button{
    border: solid black 1px;
    margin-left: 40%;
}
.contact-container #people{
    color: #424c56;
    margin-top: 35px;
}

.contact-container h1{
    color: #424c56;
    font-weight: 600;
    font-size: x-large;
    margin-bottom: 5px;
}
.contact-container h2{
    color: #424c56;
    font-weight: 600;
    font-size: large;
    margin-bottom: 5px;
}
.contact-container p{
    color: #424c56;
    margin-top: 10px;
    margin-bottom: 40px;
}

.contact-container img{
    width: 50%;
    border-radius: 500px;
    border: solid black 1px;

}