a:visited{
    text-decoration: none;
}

p{
    margin: 0;
    padding: 0;
}

#cooltext{
    display: none;
}

.contact-container{
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#hero-text h1:nth-child(1){
    margin-top: 20px;
    text-align: center;
    color:#424c56;
    font-weight: 900;
    font-size: xxs-large;
    
  }

#hero-text h1:nth-child(2){
    text-align: center;
    color:#424c56;
    font-weight: 900;
    font-size: xxs-large;
  }
  #hero-text h1:nth-child(3){
    margin-bottom: 30px;
    text-align: center;
    color:#424c56;
    font-weight: 900;
    font-size: xxs-large;
  }
  

.about-button{
    border: solid black 2px;
    padding: 5px 15px 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 30%;
    font-size: 22px;
    font-weight: 600;
    color: #424c56;
}


.contact-container .people{
    color: #424c56;
    margin-top: 35px;
}

.contact-container h1{
    color: #424c56;
    font-weight: 600;
    font-size: x-large;
    margin-bottom: 5px;
}
.contact-container h2{
    color: #424c56;
    font-weight: 600;
    font-size: large;
    margin-bottom: 5px;
}
.contact-container p{
    color: #424c56;
    margin-top: 10px;
    margin-bottom: 40px;
}

.contact-container img{
    width: 50%;
    border-radius: 500px;
    border: solid black 1px;

}

/*320px - 480px: TELEFON*/
@media screen and (min-width: 480px){

    
}
/*481px - 768px: TABLET*/
@media screen and (min-width: 768px){
.about-button{
    margin-top: 3%;
}
#hero-text{
    margin-top: 8%;
}
.people{
    display: flex;
    justify-content: center;
}
.ppl{
    width: 30%;
}
#hero-text{
    display: flex;
    justify-content: center;
}
#hero-text h1{
    margin: 0 !important;
    padding: 0 3px;
}
.ppl img:hover{
    filter: blur(1.5px);
    cursor: pointer;
}
}
/*769px - 1024px: LAPTOP*/
@media screen and (min-width: 1024px){
    .about-button{
        display: none;
    }
    }
    #img-tooltip{
        position: relative;
    }
    #cooltext:hover{
        animation: fade 1s;
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }
}
/*1025px - 1200px: DESKTOP*/
@media screen and (min-width: 120px){
    
}
/*1201px - 1920px: DESKTOP EXTRA*/
@media screen and (min-width: 1920px){
    
}