a:visited{
text-decoration: none;
}
a:hover{
}

p{
    margin: 0;
    padding: 0;
}

#hero-text h1:nth-child(1){
    margin-top: 20px;
    text-align: center;
    color:#424c56;
    font-weight: 900;
    font-size: xxs-large;
    
  }

#hero-text h1:nth-child(2){
    text-align: center;
    color:#424c56;
    font-weight: 900;
    font-size: xxs-large;
  }
  #hero-text h1:nth-child(3){
    margin-bottom: 30px;
    text-align: center;
    color:#424c56;
    font-weight: 900;
    font-size: xxs-large;
  }
  

.contact-container{
        width: 100%;
        height: 100%;
        text-align: center;
    }

.about-button{
    border: solid black 2px;
    padding: 5px 15px 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 30%;
    font-size: 22px;
    font-weight: 600;
}


.contact-container #people{
    color: #424c56;
    margin-top: 35px;
}

.contact-container h1{
    color: #424c56;
    font-weight: 600;
    font-size: x-large;
    margin-bottom: 5px;
}
.contact-container h2{
    color: #424c56;
    font-weight: 600;
    font-size: large;
    margin-bottom: 5px;
}
.contact-container p{
    color: #424c56;
    margin-top: 10px;
    margin-bottom: 40px;
}

.contact-container img{
    width: 50%;
    border-radius: 500px;
    border: solid black 1px;

}

/*320px - 480px: TELEFON*/
@media screen and (min-width: 480px){

    
}
/*481px - 768px: TABLET*/
@media screen and (min-width: 768px){
.about-button{
    display: none;
}
#hero-text{
    margin-top: 10%;
}
}
/*769px - 1024px: LAPTOP*/
@media screen and (min-width: 1024px){

}
/*1025px - 1200px: DESKTOP*/
@media screen and (min-width: 120px){
    
}
/*1201px - 1920px: DESKTOP EXTRA*/
@media screen and (min-width: 1920px){
    
}