@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
   
}
div{
    display: block;
    
}



.home-container{
    background-image:  url(/IMAGES/home-picture.jpg);
    background-color: #edefee;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.home-text{
    
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #424c56;
 

}

.home-text h1{

    text-shadow: 2px 2px #edefee;
    font-size: 50px;
    font-weight: bolder;
   
}


.home-text h2{
    text-shadow: 2px 2px #edefee;
    font-size: 38px;
    font-weight: bold;
    
    
}

.home-text h3{
    font-weight: bold;
    font-size: 22px;
    font-style: italic;
    
}
.slogan h4{
    padding: 0 10px; 
    margin-top: 70px;
    font-style: italic;
    font-size: 20px;
    text-align: center;
   
}


.aside-container{
    background-color: #edefee;
    border:1px solid #424c56;
    padding:20px;
    margin: 7em 30px 20px;
}


/*media queries*/
@media screen and (min-width: 768px) {
section{
    margin-top: 50px;
    margin-bottom: 250px;;
}



.home-container{
 
     width: 60%; 
     float: left;
     position: flex;

     
}
.aside-container{
   position: flex;
    float:right;
    width: 30%;
    
    margin:0;
}

/*
.aside-container h1{
    text-align: center;
  
    
}*/