*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    display: block;
    
}



#home-text{
    background: url(/IMAGES/HeaderPicture.jpg);
    background-position: top;
    margin-top: 10px;
    border:10px solid white;
    color: white;
    padding:20px;
    
}


aside{
    border:1px solid #424c56;;
    padding:20px;
    margin: 30px;
}

#item1{
    border:1px solid #424c56;;
    padding: 20px;
}

#item2{
    border:1px solid #424c56;;
    padding: 20px;
}

#item3{
    border:1px solid #424c56;;
    padding: 20px;
}