*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
div{
    display: block;
    
}


section{
    min-height: 50vh;
    width: 100%;
    
   
    padding: 20px;
  

    background: url(/IMAGES/HeaderPicture.jpg);
    background-repeat: no-repeat;
    background-position: center;

    
}

#home-text{
    height: auto;
    background-color: #edefee;
    border:1px solid #424c56;
    padding:20px;
    margin: 30px 20px;
    
}

#Welcome{
    text-align: center;
    font-size: 38px;
    
}
#h1-sup{
    
    font-size: 24px;
    text-align: left;
    
}
#home-text h2{
    
    font-size: 14px;
  

}
#home-text h3{
    text-align: center;
    font-style: italic;
    
}
#home-text h4{
    text-align: left;
   
}

aside{
  
    border:1px solid #424c56;
    padding:20px;
    margin: 15em 30px 20px;
}

#item1{
    font-size:small;
    border:1px solid #424c56;
    padding: 20px;
    margin: 20px auto;
}

#item2{
    font-size:small;
    border:1px solid #424c56;
    padding: 20px;
}

#item3{
    font-size:small;
    border:1px solid #424c56;
    padding: 20px;
}