@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
*{
    margin: 0;
    padding: 0;
    
}
nav ul li a:hover{
    color:white;
}

.home-container{
    display: flex;
    flex-direction: column;
    background-color: #edefee;
    color: #424c56;

}

.home-background{
    background-image:  url(/IMAGES/home-picture.jpg);
    background-color: #edefee;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 
}
.home-text{
    text-align: center;
    top: 50%;
    left: 50%;    
}
.home-text h1{
    padding-top: 70px;
    text-shadow: 2px 2px #edefee;
    font-size: 50px;
       
}

.home-text h2{
    font-weight: bold;
    font-size: 22px;
    font-style: italic; 
    
}
.aboutus-button, .contact-button, .services-button{
    text-align: center;
}
.aboutus-button:hover, .contact-button:hover, .services-button:hover{
    color: red;  
}
.aboutus-button, .services-button, .contact-button{
    border:1px solid #424c56;
    color: #424c56;     
    padding: 14px 25px;
    text-decoration: none;
    display: inline-block;   
    margin:30px 20px;  
}

.slogan{
    position: relative;
    border:1px solid #424c56;
    margin:30px 20px;
}

.slogan-image{   
    width: 100%;
    height: 100%;
    background-color: #edefee;   
}

.slogan h3{    
    padding: 0 10px; 
    font-style: italic;
    font-size: 20px;
    text-align: center;
    margin:30px 20px;
}


.services{
    margin:5px 20px;
    border:1px solid #424c56;
    padding:20px;
    
   }

/*media queries*/
@media screen and (min-width: 768px) {
    .header-line {
          margin: 0;
          padding: 0;
    }

    .home-container{
        
        margin-top: 70px;     
    }

    .home-background{
        position:absolute;
        height: 575px;
        width: 50%;  
        background-image:  url(/IMAGES/HeaderPicture.jpg);
  
        margin-left: 10px;
        border:1px solid #424c56;
    }

    .home-text{
        border:1px solid #424c56;
        margin: 60px 50px;
        text-shadow: none;
        background-color: #edefee;
       
    }

    .home-text h1{
        text-shadow: none;
    }

    .aboutus-button a:hover{
        color: #edefee;
    }


   .slogan{
       position:relative;
       margin:0 0 0 60%;
       height:575px;
       margin-right: 10px;
    
   }
   .slogan-image{
    margin: 40px 10px 20px;
    width: 95%;
    height: auto;
   }

    .services{   
        position: relative;
        text-align: center;
        margin-top: 50px;                  
    }
}

@media screen and (min-width: 1024px) {

    .home-background{
       margin-left: 10px;
        width: 50%;  
       
      
        border:1px solid #424c56;
    }
    .slogan{
        position:relative;
        margin:0 10px 0 55%;
        height:575px;
     
    }

       .slogan-image{
    margin: 40px 10px 20px;
    width: 85%;
    height: auto;
   }

}

@media screen and (min-width: 1200px){

    .slogan h3{    
        margin:10px 20px;
    }

    .slogan {
        text-align: center;
    }
    .slogan-image{
       margin: 0;
       max-width: 650px;
    width: 80%;
       }


}