* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-size: 0.9em;
  line-height: 1.5em;
}

.hero-container{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Hero section*/

.show-desktop {
  display: none;
}

#text-btn{
  margin-bottom: 200px;
}

#text-btn h1:nth-child(2){
  left: 1.5em;
}
#text-btn h1:nth-child(3){
  left: .8em;
}

#hero .hero{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  justify-content: flex-start;
}

#hero h1{
  display: block;
  width: fit-content;
  font-size: 3rem;
  position: relative;
  color: transparent;
  animation: text_reveal .5s ease forwards;
  animation-delay: 1s;
  font-weight: 1;
}

#hero h1:nth-child(1){
  animation-delay: 1s;
  right: 10;
}
#hero h1:nth-child(2){
  animation-delay: 2s;
}
#hero h1:nth-child(3){
  animation-delay: 3s;
}

#hero h1 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #424c56;
  animation: text_reveal_box 1s ease;
  animation-delay: .5s;
}

#hero h1:nth-child(1) span{
  animation-delay: .5s;
}
#hero h1:nth-child(2) span{
  animation-delay: 1.5s;
}
#hero h1:nth-child(3) span{
  animation-delay: 2.5s;
}

#hero .cta-btn{
  display: inline-block;
  padding: 10px 30px;
  color: #0480b1;
  background-color: transparent;
  border: 2px solid #0480b1;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 12px;
  letter-spacing: .1rem;
  margin-top: 30px;
  transition: .3s ease background-color;
  transition-property: background-color, color;
  
}

#hero .cta-btn:hover{
  color: white;
  background-color: #0480b1;
}

/*End Hero section*/

/*Product section*/

#products{
  background-color: #d7dfe6 ;
  width: 100%;
  color: #424c56;
  text-align: center;
}

.products{
  padding: .3em 1.2em;
}
.products-item ul li {
  padding-bottom: 100px;
}
.products-item ul li p {
  padding-top: 30px;
  font-size: 15px;
  font-weight: 800;
}

.products-item img {
  max-width: 100%;
  height: auto;
  border-radius: 15% 0 15% 0;
}

.products-item ul li:nth-child(1) img {
  padding-top: 30px;
}

/*End Product section*/

/*Keyframe*/
@keyframes text_reveal_box{
  50%{
    width: 100%;
    left: 0;
  }

  100%{
    width: 0;
    left: 100%;
  }
}

@keyframes text_reveal{
  100%{
    color: #424c56;
  }
}

/*EndKeyframe*/

/* Media queries*/

@media only screen and (min-width: 760px){
  #scroll-cnt{
    position: absolute;
    right: 0;
    margin-right: 100px;
  }

  .show-desktop{
  display: initial;
  width: 60px;
}
}

/* End Media queries*/
