@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
*{
  font-family: "Quicksand", sans-serif, Arial, Helvetica, sans-serif !important;
  
}
p{
  margin: 0;
  padding: 0;
}
html {
  background-color: #edefee;
  color: #424c56;
  font-family: "Quicksand", sans-serif, Arial, Helvetica, sans-serif;
}

.header-line {
}

body {
  margin: 0;
  padding-bottom: 150px;
  position: relative;
  min-height: 100vh;
}
a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul {
  position: fixed;
  width: 45%;
  top: 0;
  right: 0;
  text-align: left;
  background: #424c56;
  height: 100%;
  padding-top: 3em;
  z-index: 1;
}

nav ul li a {
  color: white;
  display: block;
  width: 100%;
  padding: 1em 2em;
}

.exit-btn {
  margin-bottom: 1em;
  margin-top: -2em;
  padding: 0 1.4em;
  text-align: right;
}

.exit-btn img {
  width: 15px;
  cursor: pointer;
}
/*Header*/

.container {
  text-align: center;
  padding: 0 1.2em;
  background-color: #e9e8e8;
}

.logo1 {
  width: 150px;
}

.logo2 {
  width: 150px;
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
}

.menu {
  width: 25px;
  margin-top: 50%;
}

.hide-mobile {
  display: none;
}

/*End Header*/

/*Footer */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #424c56;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: rgb(236, 220, 220);
}

footer p {
  color: white;
  font-size: 10px;
}

.footer-img img {
  display: block;
  width: 10rem;
  margin: auto;
}

#footer-contact {
  float: left;
  flex-direction: column;
}

#footer-contact p {
  font-size: 15px;
  margin-left: 5px;
}

#footer-contact a {
  font-size: 13px;
  padding-left: 5px;
}

#footer-socialmedia {
  position: relative;
  width: 100%;
}

#footer-socialmedia ul {
  position: absolute;
  right: 0;
  margin-top: 20px;
  margin-right: 5px;
}

#footer-socialmedia a {
  font-size: 13px;
  padding-right: 5px;
}

/*end Footer */

@media screen and (min-width: 768px) {
  .logo1 {
    display: none;
  }

  .logo2 {
    display: block;
    position: absolute;
    left: 0;
  }

  .hide-desktop {
    display: none;
  }

  .container {
    background: linear-gradient(
        to bottom,
        rgba(141, 141, 141, 0.5) 0%,
        rgba(145, 145, 145, 0.8) 100%
      ),
      url(/IMAGES/HeaderPicture.jpg);
    height: 150px;
  }

  header {
    height: 200px;
    width: 100%;
    position: relative;
  }
  .header-line {
    margin-top: 10px;
    border: 1px solid #424c56;
  }

  .container nav {
    bottom: 0;
    left: 0;
    position: absolute;
  }

  .container nav ul {
    background: transparent;
    display: flex;
    position: initial;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .container nav ul li {
    padding: 0 40px;
  }

  .container nav ul li a {
    color: black;
    font-weight: bold;
    padding: 0;
    width: 100px;
  }
}
