@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

html {

  background-color: #edefee;
  color: #424c56;
  font-family: 'Quicksand', sans-serif, Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding-bottom: 103px;
  position: relative;
  min-height: 100vh;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul {
    position: fixed;
    width: 35%;
    top: 0;
    right: 0;
    text-align: left;
    background: #424c56;
    height: 100%;
    padding-top: 3em;
    
}

nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 1em  2em;
}


.exit-btn {
    margin-bottom: 1em;
    margin-top: -2em;
    padding: 0 1.4em;
    text-align: right;
}

.exit-btn img {
    width: 15px;
    cursor: pointer;
}
/*Header*/

.container{
    text-align: center;
    padding:  0 1.2em;
}

.logo {
    width: 150px;
}

header {
    display: flex;
    justify-content: space-between;
}

.menu {
    width: 25px;
    margin-top: 50%;
}

.hide-mobile{
    display: none;
}



/*End Header*/

/*Footer */

footer {
  position: absolute;
  bottom: 0;
  width: 90%;
  margin-bottom: 10px;
  margin-left: 25px;
  background-color: #424c56;
}

footer a {
  color: white;
  text-decoration: none;
}


footer a:hover {
  color: rgb(236, 220, 220);
}


footer p {
  color: white;
}


.footer-img img {
  display: block;
  width: 10rem;
  margin: auto;
  margin-bottom: -30px;
}


#footer-contact{
    float: left;
    padding: 0 10px 0 0;
    margin-left: 10px;
   
} 

#footer-socialmedia{
    float: right;
    margin: 0 10px;
  
    margin-top: 30px;

    
}

#footer-socialmedia a {
    padding-right: 5px;
}





/*end Footer */
