@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
*{
    margin: 0;
    padding: 0;
    
}
nav ul li a:hover{
    color:white;
}

.home-container{
    display: flex;
    flex-direction: column;
    background-color: #edefee;
    color: #424c56;

}

.home-background{
    background-image:  url(/IMAGES/home-picture.jpg);
    background-color: #edefee;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 
}
.home-text{
    text-align: center;
    top: 50%;
    left: 50%;    
}

.home-text h1{
    padding-top: 70px;
    text-shadow: 2px 2px #edefee;
    font-size: 50px;
    font-weight: bolder;
}


.home-text h2{
    text-shadow: 2px 2px #edefee;
    font-size: 38px;
    font-weight: bold;        
}

.home-text h3{
    font-weight: bold;
    font-size: 22px;
    font-style: italic;    
}
.btn-aboutus {
    text-align: center;
}

.aboutus-button{
    border:1px solid #edefee;
    color: #edefee;     
    padding: 14px 25px;
    text-decoration: none;
    display: inline-block;     
}

.slogan{
    position: relative;
    border:1px solid #424c56;
    margin:30px 20px;

 
}

.slogan-image{   
    width: 100%;
    height: 100%;
    background-color: #edefee;   
}

.slogan h4{    
    padding: 0 10px; 
    font-style: italic;
    font-size: 20px;
    text-align: center;
    margin:30px 20px;
}
.btn-contact{
    text-align: center; 
}

.contact-button{
    border:1px solid #424c56;
    color: #424c56;     
    padding: 14px 25px;
    text-decoration: none;
    display: inline-block;    
    margin-bottom: 10px; 
}

.services{
    margin:5px 20px;
    border:1px solid #424c56;
    padding:20px;
    
   }
.btn-servecis {
    text-align: center;
}

.services-button{
    border:1px solid #424c56;
    color: #424c56;     
    padding: 14px 25px;
    text-decoration: none;
    display: inline-block;     
}



/*media queries*/
@media screen and (min-width: 768px) {
    .header-line {
          margin: 0;
          padding: 0;
    }

    .home-container{
        flex-direction: column;
        margin: 70px;     
    }

    .home-background{
        position:absolute;
        height: 575px;
        width: 50%;  
        background-image: none;
        color: #edefee;
        background-color: #424c56; 
    }

    .home-text{
        margin: 60px;
        text-shadow: none;
    }

    .home-text h1{
        text-shadow: none;
    }

    .home-text h2{
        text-shadow: none;
    }


    .slogan{
        position: relative;
        border:1px solid #424c56;
        margin-left: 63%;  
        height: 575px;

     
    }

    .slogan-image{
       
    
       
        background-color: #edefee;       
        background-repeat: no-repeat;
        background-size:25%;
    }
    .slogan h4{
        margin-top: 50px;
    }

    .services{   
        position: relative;
        text-align: center;
        margin-top: 50px;                  
    }


}